.collapse-sidebar-deskop {
    width: 50px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 5px #d3d3d3;
}

.collapse-sidebar-deskop-expand {
    width: 170px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 5px #d3d3d3;
}

.mainContent {

    height: auto;
    width: 100%;
    padding: 0px;
    padding-top: 55px;
    padding-left: 50px;
    z-index: 0;
    background-color: #f1f1f1;
    height: 100vh;
}

.mainContent-expand {
    padding-top: 55px;
    padding-left: 170px;
    width: 100%;
    background-color: #f1f1f1;
    height: 100vh;
}

.dashboard-mainContent {
    display: flex;
}