.tabsdiv {
    margin-left: 1.9%;
}

.tabSection {
    height: 36px;
    padding: 8px 12px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    color: #000;
    font-weight: bold;
    width: 15%;
}

.activeTab {
    box-shadow: 0px 3px -1px #00000029 !important;
    border: 2px solid #F0F0F0;
    border-radius: 5px 5px 0px 0px !important;
    opacity: 1;
    font-weight: 500;
    background-color: #14636a;
    border-bottom: none;
    font-size: 14px;
    color: #fff !important;
}

.new-btn {
    height: 30px;
    width: 100px;
    border: none !important;
    border-radius: 5px;
    opacity: 1;
    color: white;
    background: #9A7FF5;
    align-items: center;
    padding: 0px 15px;
    margin: 5px;
    font-size: 12px;
}

.couponformdiv {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #9BD5DA;
    text-align: center;
}






select {
    box-shadow: none !important;
}


.descr {
    height: 70px !important;
}

input::placeholder {
    font-size: 12px;
}

.dis-applicable {
    font-size: 12px;
}

.durationDropdown {
    position: absolute;
    top: 36px;
    color: black;
    background-color: white;
    width: 245px;
    box-shadow: 0px 3px 6px #bce6eb;
    border-radius: 0px 0px 10px;
    z-index: 10;
    font-size: 14px;
    line-height: 20px;
}

.duration-value {
    margin-inline-start: 10px;
}

.terms-Cond {
    height: 50px !important;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    flex: 1;
    overflow-y: auto;
}

.Coupons {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-coupon {
    flex: 1;
    overflow-y: auto;
    margin: 10px;
}

.cancelbtn {
    font-size: 12px;
    color: #000000;
    background: #E5E5E5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
}

.action-icons {
    width: 20px;
}

.profile-header {
    font-size: 12px;
}

.main-heading {
    font-size: 14px;
    text-transform: capitalize;

    margin: 3px;
    margin-inline-start: 6px;
}

.sub-heading {
    font-size: 13px;
}

.clinicDetails {
    font-size: 12px;
    justify-content: center;
}

.delete-icon,
.edit-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.no-data-img {
    width: 30%;
    height: 30%;
    opacity: 0.5;
}

.patients-table-header {
    border-radius: 5px;
    padding: 8px 10px !important;
    height: 45px;
    background-color: #9BD5DA;
}

.table-header-text {
    text-align: left;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}



.nopappoinments {
    text-align: center;
}

.pharmaDetails {
    height: 55vh;
    overflow: auto;
}

.svg-icon {
    background-color: #14636a;
}

.row-heading {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.sub-heading {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: underline;
}

.user-coupon-cards-row {
    height: 70vh;
    overflow-y: scroll;
}

.user-coupon-card {
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.user-coupons-card-row {
    width: 96%;
    background: white;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d3d3d3;
}

.brd-right {
    border-right: 1px solid lightgrey;
}

.apply-btn {
    background-color: #9A7FF5;
    color: #fff !important;
    border-radius: 25px;
    font-size: 12px;
    text-align: center;
    height: auto;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
}

.coupNumber {
    color: chocolate;
    font-size: 14px;
    font-weight: 500;
}

.coupon-titleName {
    font-size: 14px;
    font-weight: 500;
}

.description {
    font-size: 12px;
    width: 70%;
    font-weight: 500;
}
.topfields{
    border: 1px solid rgb(240, 237, 237) !important;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px !important;
    padding-bottom: 5px !important;
}
.padd{
    padding: 10px 0px 0px 0px !important;
}