.matLabel {
    padding: 10px 0 !important;
}

.multi-select-dropdown {
    height: 30px !important;
}

.input-container {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    min-height: 125px;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    display: -webkit-inline-box;
}

.delete-icon-chip {
    color: #000;
    opacity: 0.7;
    cursor: pointer;
    font-size: 8px;
    margin-left: 1px;
    height: 16px;
}

.user-chip {
    background: #D8FDF5;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-size: 13px;
    margin: 5px;
    height: auto;
    display: inline-block;
}

.provider-cancel-btn {
    background-color: #c7c7c7;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    min-width: 100px;
    height: 30px;
    border: none;
}